body {
  background: #e6e6e6;
}

.frame {
  max-width: 700px;
  max-height: 550px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  padding: 15px;
  margin: 20px auto;
  background: #fdfeff;
}

h1,
h2,
h3,
.weather-factors,
.factors-value,
.forecast-section {
  font-family: "Work Sans", sans-serif;
}

h2,
h3 {
  color: #005792;
}

h1 {
  margin: 15px 0 0 20px;
  padding-top: 10px;
  font-weight: 600;
  font-size: 40px;
}

h2 {
  text-align: left;
  margin-left: 20px;
  font-size: 34px;
  font-weight: 800;
}

h3 {
  text-align: left;
  font-size: 20px;
  margin-left: 20px;
  text-transform: capitalize;
  color: black;
  font-weight: 700;
  opacity: 0.5;
}

.low {
  color: black;
  opacity: 0.6;
}

.high {
  color: black;
  opacity: 1;
}

.search-form {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 0;
  margin-right: 10px;
}

.weather-icon {
  position: relative;
  top: -150px;
  left: 50px;
  text-align: left;
}

.temp-section .active {
  cursor: default;
  color: black;
}

.temp-section .active:hover {
  text-decoration: none;
}
.temp-section {
  text-align: left;
  position: relative;
  left: 200px;
  top: -40px;
  font-family: arial;
  font-weight: 600;
  font-size: 75px;
}

a {
  text-decoration: none;
}

.units {
  font-size: 16px;
  position: relative;
  top: -40px;
}
.weather-factors {
  text-align: center;
  position: relative;
  right: -150px;
  top: 50px;
  color: #aaa9ad;
  font-weight: 550;
}

.humidity-symbol,
.wind-symbol {
  color: black;
  font-size: 30px;
}
.humidity-symbol {
  position: relative;
  left: -25px;
}

.humidity-section {
  padding: 0 0 10px 0;
}

.wind-symbol {
  position: relative;
  left: -10px;
}

#wind-value {
  position: relative;
  left: 1px;
}

.forecast-section {
  font-family: "Roboto Serif", sans-serif;
  font-size: 18px;
  position: relative;
  top: -90px;
}

.forecast-temperatures {
  font-size: 16px;
}
strong {
  position: relative;
  left: 20px;
  color: #b7b6b9;
}

#forecast-emoji {
  position: relative;
  font-size: 35px;
  left: 17px;
}

.gh-link {
  text-align: center;
  position: relative;
  left: 230px;
  top: -17px;
}

#location-button {
  font-size: 30px;
  color: #d5334d;
  position: relative;
  bottom: -6px;
}
