body {
  background: #f9f7fe;
}

.frame {
  max-width: 700px;
  max-height: 550px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  padding: 15px;
  margin: 20px auto;
  background: white;
}

h1,
h2,
h3,
.weather-factors,
.factors-value {
  font-family: "Work Sans", sans-serif;
}

h2,
h3 {
  color: #005792;
}

h1 {
  margin: 15px 0 0 20px;
  padding-top: 10px;
  font-weight: 600;
  font-size: 40px;
}

h2 {
  text-align: left;
  margin-left: 20px;
  font-size: 30px;
}

h3 {
  text-align: left;
  font-size: 20px;
  margin-left: 20px;
  text-transform: capitalize;
}

.search-form {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 0;
  margin-right: 10px;
}

.weather-icon {
  position: relative;
  top: -150px;
  left: 50px;
  font-size: 100px;
  text-align: left;
  color: #bdc3c7;
}

.temp-section {
  text-align: left;
  position: relative;
  left: 200px;
  top: -40px;
  font-family: arial;
  font-weight: 600;
  font-size: 75px;
}

a {
  text-decoration: none;
}

.units {
  font-size: 16px;
  position: relative;
  top: -23px;
}
.weather-factors {
  text-align: center;
  position: relative;
  right: -150px;
  top: 50px;
  color: #aaa9ad;
  font-weight: 550;
}

.humidity-symbol,
.wind-symbol {
  color: black;
  font-size: 30px;
}
.humidity-symbol {
  position: relative;
  left: -25px;
}

.humidity-section {
  padding: 0 0 10px 0;
}

.wind-symbol {
  position: relative;
  left: -10px;
}

#wind-value {
  position: relative;
  left: 1px;
}

.forecast {
  font-family: "Roboto Serif", sans-serif;
  font-size: 15px;
  position: relative;
  top: -50px;
  left: 10px;
}

.emoji {
  position: relative;
  font-size: 20px;
  left: 5px;
}

.col {
  text-align: center;
}

.gh-link {
  text-align: center;
  position: relative;
  left: -220px;
}

#location-button {
  font-size: 30px;
  color: #d5334d;
  position: relative;
  bottom: -6px;
}
